<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>APP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>fil1</filter-name>
    <filter-class>sql.fil1</filter-class>
    <init-param>
      <param-name>fil1</param-name>
      <param-value></param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>fil1</filter-name>
    <url-pattern>/testsql</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>list</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>testsql</servlet-name>
    <servlet-class>testsql</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>zhuce</servlet-name>
    <servlet-class>zhuce</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dialist</servlet-name>
    <servlet-class>dialist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adddialist</servlet-name>
    <servlet-class>sql.adddialist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addnum</servlet-name>
    <servlet-class>addnum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sign</servlet-name>
    <servlet-class>sign</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>alimsg</servlet-name>
    <servlet-class>alimsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/temp_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testsql</servlet-name>
    <url-pattern>/chaxun</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zhuce</servlet-name>
    <url-pattern>/xinyonghu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dialist</servlet-name>
    <url-pattern>/dialist0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adddialist</servlet-name>
    <url-pattern>/adddialist0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addnum</servlet-name>
    <url-pattern>/addnum0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sign</servlet-name>
    <url-pattern>/sign0</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>alimsg</servlet-name>
    <url-pattern>/alimsg0</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
</web-app>